# LiteLLM models
LITELLM_MODEL=anthropic/claude-haiku-4-5
LITELLM_MODEL_DEEP=anthropic/claude-sonnet-4-6

# Anthropic API
ANTHROPIC_API_KEY=

# GCP
GCP_PROJECT_ID=
GCP_REGION=asia-southeast1
GOOGLE_CREDENTIALS_JSON=

# neon database
NEON_API_KEY=
NEON_ORG_ID=
DATABASE_URL_PROD=