# LiteLLM model
LITELLM_MODEL=ollama_chat/gemma4:e4b

# Ollama API
OLLAMA_API_BASE=http://host.docker.internal:11434

# GCP 
GCP_PROJECT_ID=
GCP_REGION=asia-southeast1
GOOGLE_CREDENTIALS_JSON=

# neon database
NEON_API_KEY=
NEON_ORG_ID=
DATABASE_URL_PROD=